.opt-list >div{
  @apply hover:border-r-[4px] hover:border-r-orange-400 hover:bg-[#394c84eb] cursor-pointer ;
}

.lost-item-register-page{
  background: url('./asset/wave.svg');
  background-position: bottom;
  scrollbar-width: none;
  background-repeat: no-repeat;
}

.login-img-box{
  background: url('./asset/login-img.svg');

}

.lost-items-box::-webkit-scrollbar {
  width: 0;
}

.location-selector option{
   outline: none;
   padding: 4px;
}



.des-box-btn:hover .des-box{
  width: 20rem;
}